@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
$font-stack: 'Amatic SC', cursive;
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  
  
  h1 {
    // display: flex;
    // flex-direction: column;
    // justify-content:center;
    // position: center;
    background: whitesmoke;
    width: auto;
    height: 40vh;
    margin: 0px;
    // border-top: 20px solid #423041;
    // border-left: 20px solid #423041;
    // border-right: 20px solid #423041;
  }
  #outAbout {
    @include centerer;
    position: fixed;
    font-size: 100px;
    @media (min-width: 425) {
      font-size: 20px;
    }
    font-family: $font-stack;
    border: solid 5px black;
    
  }  
  .mtnBackground{
    @include centerer;
    width: 2000px;
    height: auto;
    position: fixed;
    
    // background-image: url(../../photos/mtnBackground.png);
    // background-repeat: no-repeat; 
    // background-position-x: center;
    // background-attachment: fixed;
    // background-size: 2000px auto;
    
  }
  
  #login {
    @include centerer;
    position: fixed;
    border: black 5px solid;
    background: whitesmoke;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    font-weight: 800;
    transition: background-color .4s;
    &:hover{
      background-color: #4fbf7c;
      color: whitesmoke;
    }
  }